body {
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
    overflow: hidden;
}

/* Video Background */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
    filter: brightness(0.6); /* membuat video lebih gelap */
    animation: fadeVideo 2s ease-in-out;
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); /* tambahan layer gelap */
    z-index: -1;
}

/* Container */
.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
    animation: fadeIn 1.5s ease-in-out;
}

/* Title */
.title {
    font-size: 2.8rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.highlight {
    color: #f839f8; /* biru cerah */
}

/* Description */
.desc {
    font-size: 1.2rem;
    margin-bottom: 40px;
    max-width: 600px;
}

/* Tombol Mulai Petualangan */
.btn-start {
    background-color: #f839f8;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 14px;
    font-size: 1.1rem;
    text-decoration: none;
    transition: background 0.3s;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 191, 255, 0.3);
}

.btn-start:hover {
    background-color: #f29ef5;
}

/* Tombol Login Guru */
.btn-guru {
    position: absolute;
    bottom: 55px;
    right: 45px;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 9px 16px;
    border-radius: 10px;
    color: white;
    background: rgba(14, 155, 236, 0.15);
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-guru:hover {
    background: rgba(255, 255, 255, 0.25);
}

/* Animasi */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeVideo {
    0% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
