/* Reset box-sizing untuk semua elemen */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("https://i.pinimg.com/736x/5e/c8/69/5ec86919cf896661aa6ce462ab516422.jpg")
        no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

/* Bagian register agar berada di tengah */
#register {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Kotak form */
.container {
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    background: rgba(183, 185, 187, 0.85);
    border-radius: 20px;
    /*background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: black;
}

p {
    text-align: center;
    color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    background-color: #ddd;
    outline: none;
}

.password-container {
    display: flex;
    justify-content: space-between;
    gap: 4%;
}

.password-input {
    width: 48%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.register-btn {
    background-color: #231c4b;
    border-radius: 10px;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.register-btn:hover {
    background-color: #7f72ca;
    opacity: 1;
}

a {
    color: rgb(17, 126, 235);
    text-decoration: none;
}

.signin {
    background: rgba(183, 185, 187, 0.85);
    background: transparent;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
